@import url('https://fonts.googleapis.com/css?family=IM+Fell+English');

body {
    overflow-x: hidden;
    margin: 0 2em;
}

#card {
    margin: 2em auto;
    max-width: 600px;
    padding: 1em;
    border: 1px solid #a7a7a7;
    position: relative;
    box-shadow: 1px 1px 15px #ddd;
    border-radius: 3px;
    background: #fbf5ee;
}

@media (max-width: 767px) {                  
   #nav {
      display: none;
   }
}
#nav {
    margin-top: 2em;
}

#prev, #next {
    height: 50px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 1em;
    font-family: 'IM Fell English', serif;
    font-size: 2em;
    font-variant: all-small-caps;
}

#next {
    margin-left: 3em;
}


#qa-num {

    padding: 5px;
    text-align: center;
    width: 50px;
    border: 1px solid #999;

}

#question, #answer {
    font-family: 'IM Fell English', serif;
    font-size: 200%;
    text-align: justify;
}

#answer {
    margin-top: .5em;
}
