@import url('https://fonts.googleapis.com/css?family=IM+Fell+English');

body {
    padding: 1em;
    max-width: 600px;
}

#nav {
    margin-top: 2em;
}

#prev, #next {
    height: 50px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 1em;
    font-family: 'IM Fell English', serif;
    font-size: 2em;
    font-variant: all-small-caps;
}

#next {
    margin-left: 3em;
}


#qa-num {

    padding: 5px;
    text-align: center;
    width: 50px;
    border: 1px solid #999;

}

#question, #answer {
    font-family: 'IM Fell English', serif;
    font-size: 200%;
    margin-top: .5em;
    text-align: justify;
}
